$background-color: #fff7c0;
$white-background-color: #fefefe;
$font-color: #4e4e4e;
$link-color: #66ab8c;
$link-hover-color: #fa7c92;
$input-focus-color: #cddad1;
$border-color: #4e4e4e;
$section-background-color: #ecebe4;
