$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.board-top-row,
.board-middle-row,
.board-bottom-row {
  display: flex;
}

.game-box {
  background-color: #fff;
  border: 2px solid #000;
  height: 50px;
  width: 50px;
}

p {
  font-size: 20px;
}
