body {
  align-items: center;
  background-color: $background-color;
  color: $font-color;
  display: flex;
  flex-direction: column;
  font-size: $body-font-size;
  justify-content: center;
  line-height: $body-line-height;
  margin: $margin;
  padding: $body-padding;

  a {
    color: $link-color;
  }

  a:hover {
    color: $link-hover-color;
  }

  .btn {
    font-size: 18px;
  }

  h1 {
    font-size: $header-font-size;
    line-height: $header-line-height;
  }

  p {
    margin: $element-margin;
  }

  form {
    margin: $element-margin;
  }

  img {
    margin: $element-margin;
  }

  input {
    background-color: $white-background-color;
    border-radius: 6px;
    margin-bottom: 10px;
  }

  input:focus {
    background-color: $input-focus-color;
    outline: none;
  }

  #tic-tac-toe {
    font-size: $tic-tac-toe-font-size;

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
    }

    #new-game-button {
      display: block;
      margin: 0 auto;
    }
  }

  .section-container {
    background-color: $section-background-color;
    border-radius: 30px;
    padding: 10px 50px 30px;
  }

  .well {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .game-container {
    margin: $element-margin;

    p {
      font-size: $board-font-size;
      line-height: 130px;
      margin: 0;
      text-align: center;
    }
  }

  .board-top-row,
  .board-middle-row,
  .board-bottom-row {
    display: flex;
  }

  .board-top-row,
  .board-middle-row {
    border-bottom: 5px solid $border-color;
  }

  .border-right {
    border-right: 5px solid $border-color;
  }

  .game-box {
    background-color: $white-background-color;
    height: 130px;
    width: 130px;
  }

  .modal-content {
    h1,
    p {
      text-align: center;
    }
  }
}
