@import url('https://fonts.googleapis.com/css?family=Roboto');

$body-width: 650px;
$body-line-height: 1.6;
$body-font-size: 18px;
$body-padding: 0 10px;
$margin: 40px;
$button-border-radius: 6px;
$button-padding: 5px;
$element-margin: 25px 0;
$header-line-height: 1.2;
$header-font-size: 40px;
$board-font-size: 70px;
$tic-tac-toe-font-size: 22px;
$section-border-radius: 30px;
$section-padding: 10px 50px 30px;
